<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skelir Trade</title>
    <script>
        window.mainComponent  = '{{ vueComponent }}';
        {% if datas is defined %}
            window.datas        = JSON.parse('{{ datas | json_encode | raw }}');
        {% endif %}
    </script>
    {{ encore_entry_link_tags('appScss') }}
</head>
    <body>
    <div id="vue-app">
    </div>
    {{ encore_entry_script_tags('app') }}

    </body>
</html>